body {
	padding: 0;
	margin: 0;
	background-color: #29bde0;
}

.vote-title {
	width: 100%;
	height: 4rem;
	font-family: "微软雅黑";
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.9rem;
	background: url(../img/header-left.png) no-repeat, url(../img/header-right.png) no-repeat;
	background-size: 2rem 2rem;
	background-position: 2% 50%, 98% 50%;
}
.vote-main{
	margin-bottom: 68rem;
}
.vote-music {
	width: 100%;
	height: 4rem;
	font-family: "微软雅黑";
	font-size: 1.4rem;
	line-height: 4rem;
	color: black;
	background-color: #b9e9f5;
	position: relative;
	padding-left: 2rem;
}

.vote-music img {
	width: 3rem;
	height: 3rem;
	position: absolute;
	margin-top: 0.5rem;
	right: 2%;
}

.sanjiao img {
	margin-left: 2.5rem;
	margin-top: -2rem;
}

.sanjiao .note {
	font-family: "微软雅黑";
	font-size: 1.2rem;
	color: white;
	margin-top: -1rem;
	margin-left: 2.6rem;
}

.select {
	padding: 3% 0 0 3%;
	
}

.select div {
	width: 20%;
	/*height: 6rem;*/
	/*padding: 25% 0 0 0;*/
	margin: 0 6% 12% 6% ;
	background-color: #f5c97b;
	float: left;
}

.sm1,.sm2,.jingcha,.faguan,.jujishou,.yisheng,.shashou,.sm8,.sm9{
	text-align: center;
	margin-bottom: 0;
	padding: 20% 0 20% 0;
	border: 2px white solid;
	border-bottom: 0;
	color: #000000;
}

.one,.two,.three,.four,.five,.six,.qi,.ba,.nine{
	background-color: #83b09a;
	margin-bottom: 0;
	text-align: center;
	border: 2px white solid;
	border-top: 0;
}

.avatar{
	display: flex;
	justify-content: center;
	background-color: #29bde0;
}
.avatar button{
	display: flex;
	flex-direction: column;
	width: 7rem;
	height: 7rem;
	padding: 0;
	margin: 1rem 0 3rem;
	border: solid 2px #FFF;
	border-radius: 0;
	white-space: normal;
	color: #000;
	background-color: #f5c97b;
}
.id{
	display: inline-block;
	line-height: 5rem;
	text-align: center;
	font-size: 1.5rem;
	width: 100%;
	height: 8.6rem;
}
.number{
	display: inline-block;
	line-height: 1rem;
	text-align: center;
	width: 6.6rem;
	height: 1rem;
	font-size: 0.8rem;
	color: #FFF;
	background-color: #83b09a;
}
.option{
	display: none;
}
button:hover .option{
	display: inline-block;
	line-height: 2rem;
	position: absolute;
	bottom: 1rem;
	width: 6.6rem;
	height: 1rem;
	background: url(../img/one.png) no-repeat,url(../img/two.png) no-repeat
	           ,url(../img/three.png) no-repeat,url(../img/fire.png) no-repeat;
	background-size: 1rem 1rem,1rem 1rem,1rem 1rem,1rem 1rem;
	background-position: 0 0, 1.86rem 0, 3.72rem 0, 5.58rem 0;

}

.vote-footer{
	display: inline-block;
	line-height: 10rem;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 10rem;
	padding:0 4rem;
	border-top: solid #FFF 1px;
	background-color: #29bde0;
}
.enter{
	display: inline-block;
	text-align: center;	
	width: 100%;
	height: 4rem;
	font-size: 1.5rem;
	border-radius: 0;
	border: none;
	color: #FFF;
	background-color: #fbb435;

}